<a href="https://colab.research.google.com/github/Charanmaloth/IntermediateCoding-Python/blob/main/Intermediate_Coding_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!git clone 'https://github.com/Charanmaloth/IntermediateCoding-Python.git'

Cloning into 'IntermediateCoding-Python'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (3/3), done.

In [7]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2024.6.2)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.25.2)

In [ ]:
# NUMBERS PROGRAMS #

In [ ]:
#Print first n natural numbers in reverse order
n = 5
for i in range(n,0,-1):
  print(i,end=" ")

5 4 3 2 1

In [ ]:
i = n
while i >= 1:
  print(i,end=" ")
  i = i-1

5 4 3 2 1

In [ ]:
#Sum of n natural numbers
sum = 0
for i in range(5):
  sum += i
  print(sum)

0
1
3
6
10

In [ ]:
n = 5
print(n*(n+1)//2)

15

In [ ]:
#Sum of numbers in a given range
sum = 0
a = 0
b = 7
for i in range(a, b+1):
  sum += i
  print(sum)

0
1
3
6
10
15
21
28

In [ ]:
sum = b*(b+1)/2-a*(a+1)/2+a
print(sum)

28.0

In [ ]:
#Leap Year Or Not
n = 2000
if n % 400 == 0:
  print('Leap Year')
elif n % 4 == 0 and n % 100 != 0:
  print('Leap Year')
else:
  print('Not Leap Year')

Leap Year

In [ ]:
if (n % 400 == 0 or (n % 4 == 0 and n % 100 != 0)):
  print('Leap Year')
else:
  print('Not Leap Year')

Leap Year

In [ ]:
#Prime or Not
#Method-1
n = 5
count = 0
for i in range(1,n+1):
  if n % i == 0:
    count += 1
#for negative values also
if n < 2 or count > 2:
  print('Not Prime')
else:
  print('Prime')

Prime

In [ ]:
#Method-2
isPrime = True
n = 5
if n < 2:
  isPrime = False
else:
  for i in range(2,n):
    if n % i == 0:
      isPrime = False
      break
if isPrime:
  print('Prime')
else:
  print('Not Prime')

Prime

In [ ]:
#Method-3
isPrime = True
n = 55
if n < 2:
  isPrime = False
else:
  x = n // 2
  for i in range(2,x+1):
    if n % i  == 0:
      isPrime = False
      break
if isPrime:
  print('Prime')
else:
  print('Not Prime')

Not Prime

In [ ]:
#Method - 4
import math
isPrime = True
n = 45
if n < 2:
  isPrime = False
else:
  for i in range(2, int(math.sqrt(n))+1):
    if n % i == 0:
      isPrime = False
      break
if isPrime:
  print('Prime')
else:
  print('Not Prime')

Not Prime

In [ ]:
#Method-5
from math import sqrt
def isPrime(n):
  if n <= 1:
    return False
  elif n == 2:
    return True
  elif n % 2 == 0:
    return False
    #check for odds
    for i in range(3,int(sqrt(n))+1,2):
      if n % i  == 0:
        return False
    return True
num = 32
if isPrime(num):
  print('Prime')
else:
  print('Not Prime')

Not Prime

In [ ]:
#Prime num in a range
Low, High = 2, 10
prime = []
for i in range(Low, High+1):
  count = 0
  if i < 2:
    continue
  if i == 2:
    prime.append(i)
    continue
  for j in range(2,i):
    if j % i == 0:
      count = 1
      break
  if count == 0:
    prime.append(i)
print(prime)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Prime num in a range
from math import sqrt
def isPrime(n):
    if n <= 1:
        return False
    elif n == 2:
        return True
    elif n % 2 == 0:
        return False
    # check for odds
    for i in range(3, int(sqrt(n)) + 1, 2):
        if n % i == 0:
            return False
    return True
def primesInRange(start, end):
    primes = []
    for num in range(start, end + 1):
        if isPrime(num):
            primes.append(num)
    return primes
# Define the range
start = 10
end = 50
# Get all prime numbers in the range
prime_numbers = primesInRange(start, end)
print(prime_numbers)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#sum of digits of a given num
n = 14563
sum = 0
while n != 0:
  sum += n % 10
  n= n // 10
print(sum)

19

In [ ]:
#Reverse a num
n = 17865
num = n
rem = 0
rev = 0
while num > 0:
  rem = num % 10
  rev = (rev * 10) + rem
  num = num // 10
print(str(rev))

56871

In [ ]:
#for negative values
def reverse(n):
  if n < 0:
    n = str(abs(n)) +'-'
  return int(str(n)[::-1])
n = -12345
print(reverse(n))

-54321

In [ ]:
#Palindrome or Not
num = 1441
rev = 0
rem = 0
temp = num
while temp != 0:
  rem = temp % 10
  rev = (rev * 10) + rem
  temp = temp // 10
if num == rev:
  print('Palindrome')
else:
  print('Not Palindrome')

Palindrome

In [ ]:
# ADVANCED NUMBERS #

In [ ]:
#Armstrong number
from math import pow
num = 1634
sum = 0
temp = num
order = len(str(num))
while temp != 0:
  digit = temp % 10
  sum = sum + pow(digit, order)
  temp //= 10
if num == sum:
  print('Armstrong')
else:
  print('Not Armstrong')

Armstrong

In [ ]:
#Method-2
def order(num):
  return len(str(num))
def armstrong(num,len):
  temp = num
  sum = 0
  while temp != 0:
    digit = temp % 10
    sum += digit ** len
    temp //= 10
  return sum == num
num = 1634
len = order(num)
if armstrong(num,len):
  print('Armstrong')
else:
  print('Not Armstrong')

Armstrong

In [ ]:
#Print Prime factors of a num
from math import sqrt
def primefactor(n):
  for i in range(2,int(sqrt(n))+1):
    while n % i == 0:
      print(i,end=' ')
      n = n/i
#checking for prime num and divisibility
  if n > 2:
    print(n)
#Printing greater than 2 num directly
n = 1716
primefactor(n)

2 2 3 11 13

In [ ]:
#Prime factor of a num
from math import sqrt
def primeFact(n):
  F = []
  for i in range(2,int(sqrt(n))+1):
    while n % i == 0:
      F.append(i)
      n = n // i
  if n > 2:
    F.append(int(n))
  return 'x'.join(map(str,F))
n=1716
print(primeFact(n))

2x2x3x11x13

In [ ]:
from re import I
#HCF/GCD
#Method-1
num1 = 27
num2 = 45
hcf = 1
small = num1 if num1 < num2 else num2
for i in range(1,small+1):
  if(num1 % i == 0) and (num2 % i == 0):
    hcf = i
print(str(hcf))

9

In [ ]:
#Method-2
m = 144
n = 32
while m != n:
  if m > n:
    m = m - n
  else:
    n = n - m
print(m)

16

In [ ]:
#LCM
#Method-1
num1 = 36
num2 = 60
lcm = 1
maxi = num1 if num1 > num2 else num2
limit = num1 * num2
for i in range(maxi, limit + 1, maxi):
  if i % num1 == 0:
    lcm = i
    print(str(int(lcm)))
    break

180

In [ ]:
#Method-2
n1 = 36
n2 = 60
hcf = 1
small = n1 if n1 < n2 else n2
for i in range(1,small+1):
  if n1 % i == 0 and n2 % i == 0:
    hcf = i
    lcm = n1 * n2 / hcf
print(str(int(lcm)))

180

In [ ]:
#Method-3
n1 = 36
n2 = 60
def lcm_finds(n1,n2):
  if n1 > n2:
    max = n1
  else:
    max = n2
  temp = max
  while True:
    if (max % n1 == 0) and (max % n2 == 0):
      lcm = max
      break
    max = max + temp
  print(str(lcm))
lcm_finds(n1, n2)

180

In [ ]:
#Binary To Decimal Conversion
def convert(n):
  i = 0
  decimal = 0
  while n != 0:
    digit = n % 10
    decimal += digit * pow(2, i)
    n = n // 10
    i += 1
  return decimal
n = 101
print(convert(n))

5

In [ ]:
#Octal to decimal Conversion
def convert(n):
  i = 0
  decimal = 0
  base = 8
  while n != 0:
    digit = n % 10
    decimal += digit * pow(base, i)
    n = n // 10
    i += 1
  return decimal
n = 71412
print(convert(n))

29450

In [ ]:
#Hexadecimal to decimal conversion
def convert(n):
  length = len(n)
  decimal = 0
  pos = 0
  for i in range(length-1, -1, -1):
    #ASCII Value feom 0 - 9
    if '0' <= n[i] <= '9':
      digit = ord(n[i])-48
      #Conerts into int values
      decimal += digit * pow(16, pos)
      pos += 1
    #ASCII value from A - F
    elif 'A' <= n[i] <= 'F':
      digit = ord(n[i])-55
      #Converts into int values
      decimal += digit * pow(16, pos)
      pos += 1
  return decimal
n = input()
print(convert(n))

1A32D
107309

In [ ]:
#Method - 2
num = input()
base = 16
decimal = int(num, base)
print(decimal)

1A32D
107309

In [ ]:
#Decimal to binary conversion
def convert(n):
  binary = []
  while n != 0:
    binary.insert(0, n % 2)
    n = n // 2
  print(''.join(str(x) for x in binary))
num = 14
print(convert(num))

1110
None

In [ ]:
#Method - 2
def convert(n):
  binary = 0
  i = 1
  while n != 0:
    rem = n % 2
    binary += rem * i
    rem = rem // 2
    i = i * 10
  print(binary)

n = 14
print(convert(n))

In [2]:
#Decimal to Octal Conversion
def convert(n):
  octal = []
  while n != 0:
    octal.insert(0, n % 8)
    n //= 8
  print(''.join(str(x) for x in octal))
n = 148
print(convert(n))

224
None

In [ ]:
#Method - 2
def convert(n):
  octal = 0
  i = 0
  while n!=0:
    rem = n % 8
    octal += rem * i
    i *= 10
  print(octal)
n = 67
print(convert(n))

In [2]:
#Decimal to hexadecimal conversion
def convert(n):
  hex = []
  while n!=0:
    rem = 0
    rem = n % 16
    if rem < 10:
      hex.insert(0, chr(rem+48))
    else:
      hex.insert(0, chr(rem+55))
    n //= 16
  print(''.join(str(x) for x in hex))
n = 892
print(convert(n))

37C
None

In [4]:
#Method - 2
def convert(n):
  if n == 0:
    return '0'
  hex = []
  while n != 0:
    rem = 0
    rem = n % 16
    if rem < 10:
      hex.insert(0, chr(rem + 48))
    else:
      hex.insert(0, chr(rem + 55))
    n //= 16
  return ''.join(hex)

n = 1456
print(convert(n))

5B0

In [ ]:
# ARRAYS #

In [18]:
#Linear Search
def linearSearch(arr, item):
  for i in range(len(arr)):
    if arr[i] == item:
      print(str(item)+ ' Found at index '+str(i))
      return
  print('Not Found')
arr = [2,3,12,45,6,54,64]
item = 45
print(linearSearch(arr,item))

45 Found at index 3
None

In [20]:
#Smallest element in an array
def small(arr):
  min = arr[0]
  for i in range(1, len(arr)):
    if arr[i] < min:
      min = arr[i]
      return min
arr = [7,11,-18,-3,-7,4,5]
print(str(small(arr)))

-18

In [21]:
#Method - 2(arr.sort)
arr = [7,11,-18,-3,-7,4,5]
arr.sort()
print(str(arr[0]))

-18

In [22]:
#Method - 3(in-built)
arr = [7,11,-18,-3,-7,4,5]
print(str(min(arr)))

-18

In [24]:
#Largest Element in an array
def large(arr):
  max = arr[0]
  for i in range(1, len(arr)):
    if arr[i] > max:
      max = arr[i]
  return max
arr = [3,22,-9,0,77,64,34]
print(str(large(arr)))

77

In [25]:
#Method - 2(arr.sort)
arr = [3,22,-9,0,77,64,34]
arr.sort()
print(str(arr[len(arr)-1]))

77

In [26]:
#Method - 3(in-build)
arr = [3,22,-9,0,77,64,34]
print(str(max(arr)))

77

In [27]:
#Second smallest element in an array
arr = [3,22,-9,0,77,64,34]
arr.sort()
print(str(arr[1]))

0

In [28]:
#Second largest element in an array
arr = [3,22,-9,0,77,64,34]
arr.sort()
print(str(arr[len(arr)-2]))

64

In [6]:
#Bubble Sort - O(n2)
def bubble_sort(arr):
  n = len(arr)
  for i in range(n-1):
    for j in range(n-i-1):
      if arr[j] > arr[j+1]:
        arr[j],arr[j+1] = arr[j+1],arr[j]
def display(arr):
  print(' '.join(str(x) for x in arr))
arr = [5,3,1,9,8,2,4,7]
bubble_sort(arr)
display(arr)

1 2 3 4 5 7 8 9

In [7]:
#Bubble Sort (Best case - O(n))
def bubble_sort(arr):
  n = len(arr)
  for i in range(n-1):
    swapped = False
    for j in range(n-i-1):
      if arr[j] > arr[j+1]:
        arr[j],arr[j+1] = arr[j+1],arr[j]
        swapped = True
    if not swapped:
      break
def display(arr):
  print(' '.join(str(x) for x in arr))
arr = [5,3,1,9,8,2,4,7]
bubble_sort(arr)
display(arr)

1 2 3 4 5 7 8 9

In [8]:
#Counting Distinct elements in an array
arr = [30,50,30,10,20,40,10,20]
n = len(arr)
visited = [False] * n
count_dis = 0
for i in range(n):
  for j in range(i+1, n):
    if arr[i] == arr[j]:
      visited[j] = True
  count_dis += 1
print(count_dis)

8

In [1]:
#Method -2
def countDis(arr, n):
  count = 0
  for i in range(0, n):
    flag = False
    for j in range(i+1, n):
      if arr[i] == arr[j]:
        flag = True
        break
    if flag == False:
      count += 1
  return count
arr = [5,8,5,7,8,10]
n = len(arr)
print(countDis(arr, n))

4

In [2]:
#Method - 3
def countDis(arr, n):
  arr.sort()
  count = 0
  i = 0
  while i < n:
    while i < n-1 and arr[i] == arr[i+1]:
      i += 1
    count += 1
    i += 1
  return count
arr = [5,8,5,7,8,10]
n = len(arr)
print(countDis(arr, n))

4

In [3]:
#Kth Smallest element in an array
arr = [2,8,14,-5,-8,-4]
k = 4
arr.sort()
print(arr[k-1])

2

In [4]:
#Method - 2
def Ksmallest(arr,n,k):
  arr.sort()
  i = 0
  while i < n:
    while i < n-1 and arr[i] == arr[i+1]:
      i += 1
    k -= 1
    if k == 0:
      break
    i += 1
  return arr[i]
arr = [1,3,2,1,4,2,5,6,3,3,4]
n = len(arr)
k = 4
print(Ksmallest(arr,n,k))

4

In [3]:
#Finding the frequency of elements in an array
arr = [10,20,20,10,20,10,20,30,10]
n = len(arr)
visited =[False]*n
for i in range(n):
  if not visited[i]:
    count = 1
    for j in range(i+1, n):
      if arr[i] == arr[j]:
        count += 1
        visited[j] =True
    print(str(arr[i])+' : '+str(count))

10 : 4
20 : 4
30 : 1

In [4]:
#Method - 2
def countFreq(arr, n):
  for i in range(0,n):
    flag = False
    count = 0
    for j in range(i+1, n):
      if arr[i] == arr[j]:
        flag = True
        break
    if flag == True:
      continue
    for j in range(0, i+1):
      if arr[i] == arr[j]:
        count += 1
    print('{0}:{1}'.format(arr[i],count))
arr = [10,20,20,10,20,10,20,30,10]
n = len(arr)
print(countFreq(arr, n))

20:4
30:1
10:4
None

In [5]:
#Method - 3
def countFreq(arr, n):
  arr.sort()
  i = 0
  while i < n:
    count = 1
    while i < n-1 and arr[i] == arr[i+1]:
      i += 1
      count += 1
    print('{0}:{1}'.format(arr[i], count))
    i += 1
arr = [10,20,20,10,20,10,20,30,10]
n = len(arr)
print(countFreq(arr, n))

10:4
20:4
30:1
None